@use "../../variables/colors" as c;

@each $color-name, $color in c.$primary-colors {
    .#{$color-name}-bg {
        background-color: $color;
    }

    .#{$color-name}-text {
        color: $color;
    }
}

.thin {
    font-weight: 100;
}

.large {
    font-size: 40px;
}

.flex {
    display: flex;
    align-items: center;
}